# Directories
/node_modules/
.idea/
.vscode/
/coverage/
/build/
.bundle/
/log/
/tmp/
/vendor/
/bin/
/doc/
/libexec/
/public/
/test/
/tools/
.venv/
dist/

# Files
package-lock.json
yarn-error.log
yarn.lock
.log
.env.local
.env.test.local
.DS_Store
.byebug_history
.ruby-version
.ruby-gemset
secrets.yml
config/secrets.yml
.env
Thumbs.db
.project
.classpath
.gitignore
.gitkeep
.travis.yml
.eslintrc
config.js

# Patterns
/**/.map
!/log/.keep
!/tmp/.keep
*.class
*.pyc
*.exe
*.dll
*.mb
*.iso
*.gz
*.tar
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
