node_modules/
package-lock.json
yarn-error.log
yarn.lock
.log
.idea/
.vscode/
/coverage/
/build/
/**/.map
.env.local
.env.test.local
.DS_Store
.bundle/
/log/
/tmp/
!/log/.keep
!/tmp/.keep
.byebug_history
/vendor/
.ruby-version
.ruby-gemset
/bin/
/doc/
/libexec/
/public/
/test/
/tools/
/customize.ini
/customize.cfg 
/customize.local.ini
/customize.local.cfg
secrets.yml
config/secrets.yml
.env